* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "JetBrains Mono", monospace; */
  color: #00c848;
  background-color: #08111c;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* HEADER */
header {
  padding: 10px;
  border: 1px #00c848 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.home-btn {
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  color: aliceblue;
}

.home-btn:hover {
  color: #00c848;
}

.container-header {
  padding: 5px;
}

a {
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #00c848;
}

/*MAIN*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
}

.flex-container {
  display: flex;
}

.flex-item {
  margin-left: 5px;
}

strong {
  color: blueviolet;
}

.card {
  overflow: auto;
  display: block;
  padding: 30px;
  border: 1px #00c848 solid;
  height: 80vh;
  width: 80vw;
  margin-top: 10px;
}

.imageMoldure {
  border: 1px aliceblue solid;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

img {
  width: 80px;
  height: 80px;
}

.repo-name {
  font-size: 18px;
  font-weight: bold;
}

.repo-description {
  font-size: 14px;
  color: #555;
}


.service-container{
  display: flex;
  width: 99vw;
  height: 87vh;
  gap: 10px; /* Espaçamento entre os cartões */
  padding: 16px;
  overflow: auto;
}

.service {
  margin: 0px;
  padding: 10px;
  border: 1px solid #00c848;
  width: 215px;
  height: 250px;
  flex: 1 1 215px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: calc(33.333% - 215px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.service-name {
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
}

.service-description {
  font-size: 14px;
  color: #555;
}

.service-price{
  color: #555;
}

.node {
  color: rgb(13, 233, 13);
}

.rust {
  color: orangered;
}

.typescript {
  color: rgb(74, 74, 252);
}

.javascript {
  color: yellow;
}

.shellscript {
  color: brown;
}

.c-sharp {
  color: purple;
}

.project {
  margin-bottom: 10px;
}

.repo {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
}