* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    color: #00C848;
    background-color: #08111C;
}

/* HEADER */
header{
  padding: 10px;
  border: 1px #00C848 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar{
  display: flex;
  justify-content: end;
  width: 100vw;
}

.home-btn{
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  color: aliceblue;
}

.home-btn:hover{
  color: #00C848;
}

.container-header{
  padding: 5px;
}

a{
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #00C848;
}

/*MAIN*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
}

.flex-container{
  display: flex;
}

.flex-item{
  margin-left: 5px;
}

strong{
  color: blueviolet;
}

.card{
  overflow: auto;
  display: block;
  padding: 30px;
  border: 1px #00C848 solid;
  height: 80vh;
  width: 80vw;
  margin-top: 10px;
}

.imageMoldure{
  border: 1px aliceblue solid;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

img{
  width: 80px;
  height: 80px;
}

.node{
  color:rgb(13, 233, 13)
}

.rust{
  color: orangered;
}

.typescript{
  color: rgb(74, 74, 252);
}

.javascript{
  color: yellow;
}

.shellscript{
  color: brown;
}

.c-sharp{
  color: purple;
}

.project{
  margin-bottom: 10px;
}

.repo {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

.repo-name {
    font-size: 18px;
    font-weight: bold;
}

.repo-description {
    font-size: 14px;
    color: #555;
}